<h2>index</h2>

<div class="translate-container">
  {{index-translate from-language="french" to-language="english"}}
  {{index-translate from-language="english" to-language="french"}}
</div>
{{outlet}}
